/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2022, 11:38:44 PM
    Author     : Admin
*/
*{
    box-sizing: border-box;

}
body{
    background-color: #FEFBF2;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.header .navbar-brand img{
    display: block;
    height: 32px;
}
.navbar-header{
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}
.navbar-expand-lg{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.navbar-expand-lg .navbar-nav{
    flex-direction: row;
}
.navbar-nav{
    display: flex;
}
.navbar-expand-lg .navbar-collapse{
    display: flex !important;
    width: 1000px;
}
.navbar-collapse .navbar-nav-left{
    min-width: 530px;
    margin-right: auto;
}
.navbar-collapse .navbar-nav-right .nav-user-icon img{
    width: 50px;
    height: 50px;
    transition: transform .2s ease-in-out, color .2s ease-in-out;
}
.navbar-collapse .navbar-nav-right .nav-user-icon{
    border-color: #EC8056;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.online{
    position: relative;
}
.online::after{
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.setting-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 100%;
    right: 1%;
    max-height: 0;
    transition: max-height 0.3s;
}
.setting-menu-height{
    max-height: 450px;
}
.setting-menu-inner{
    padding: 20px;
}
.screen-profile-user hr{
    border: 0;
    height: 1px;
    width: 50%;
    background: #9a9a9a;
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
.user-profile{
    display: flex;
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.navbar-collapse .navbar-nav .nav-item-text .nav-link{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400px;
    color: #495057;
    transition: transform .2s ease-in-out, color .2s ease-in-out;
    position: relative;
    top: 0;
    transition: top linear 0.1s;
    padding-left: 20px;
}
.navbar-collapse .navbar-nav .nav-item-text .nav-link:hover{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400px;
    color: #EC8056;
    transition: transform .2s ease-in-out, color .2s ease-in-out;
    top: -4px;
}
.navbar-collapse .navbar-nav .nav-item-link .nav-link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400px;
    color: #EC8056;
    transition: transform .2s ease-in-out, color .2s ease-in-out;
}
.navbar-collapse .navbar-nav .nav-item-link .nav-link:hover{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400px;
    color: grey;
    transition: transform .2s ease-in-out, color .2s ease-in-out;
}


/*FOOTER*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ; margin-top : 100px}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
    list-style-type:none;
    padding:0px;
    display:table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/*ARROW BUTTON*/
.arrow-btn{
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 9;
}

.arrow-btn a{
    position: fixed;
    bottom: 39px;
    width: 37px;
    text-align: center;
    background: #1b1b1b;
    display: block;
    border-radius: 3px;
    cursor: pointer;
}
.arrow-btn a span{
    color: #f2f2f2;
    line-height: 39px;
    font-size: 25px;
}



/*USER INFO*/
.screen-profile-user{
    margin-top: 150px;
    background-color: #FEFBF2;
}
.screen-profile-user .category-list{
    margin-top: 20px;
    padding-left: 0;
    list-style: none;
}
.screen-profile-user .category-list .category-item{
    padding: 10px 10px;
}
.screen-profile-user .category-list .category-item .category-item_link{
    position: relative;
    text-decoration: none;
    color: #1b1b1b;
    transition: right linear 0.1s;
    right: 0;

}
.screen-profile-user .category-list .category-item .category-item_link:hover{
    text-decoration: none;
    color: #EC8056;
    right: -4px;

}
.category-user-info{

    background-color: #fff;
    padding: 20px 50px 20px 50px;

}
.category-user-info .form-group{
    padding-top: 20px;
}
.category-user-info .category-user-info-btn{
    margin-top: 20px ;
}

/*USER STATUS*/
.screen-profile-user .category-user-status{
    background-color: #fff;
    padding: 20px 50px 20px 50px;

}
.screen-profile-user .category-user-status .user-profile{
    background-color: #EC8056;
    padding: 20px 20px 20px 20px;
    color: #fff;
}
.screen-profile-user .category-user-status .user-profile:hover{
    background-color: #9a9a9a;
    padding: 20px 20px 20px 20px;
    color: #fff;
}
.category-user-status .user-profile .category-user-status-btnDetail{
    background-color: #fff;
    font-size: 13px;
    width: 100px;
    align-items: center;
    justify-content: center;
    color: #EC8056;
    border-color: #fff;
    position: relative;
    transition: top linear 0.2s;
    top: 0;

}
.category-user-status .user-profile .category-user-status-btnDetail:hover{
    background-color: #fff;
    font-size: 13px;
    width: 100px;
    align-items: center;
    justify-content: center;
    color: #EC8056;
    border-color: #EC8056;
    top: -4px;
}